{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Controlle - Seja bem vindo!</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  </head>
  <body>

    <div class="container">
    	
    	<div class="header">

    		<div id="logo">
    			<h3>Controlle</h3>
    		</div>

	    	<ul class="menu">
	    		<li><a href="#">Login</a></li>
	    		<li><a href="#">Sign Up</a></li>
	    	</ul>
    	</div><!--header-->

    </div>

    <div class="container">
    	<div class="box">
    		<div id="description">
    			<h1>A melhor alternativa para controlar seu dinheiro!</h1>
    			<p>Está procurando alguma aplicação que possa te ajudar a organizar suas contas, quanto você recebe e gasta? O Controlle é a opção certa! Oferecemos um sistema totalmente isento de qualquer taxa!</p>
    		</div>
    	</div><!--box-->
    </div>

    <div class="background-img">
    	<div class="container">
    		<div class="grid-box">
    			<h3>Titulo primeiro box</h3>
    			<p>Está procurando alguma aplicação que possa te ajudar a organizar suas contas, quanto você recebe e gasta? O Controlle é a opção certa! Oferecemos um sistema totalmente isento de qualquer taxa!</p>
    		</div>
    		<div class="grid-box">
    			<h3>Titulo primeiro box</h3>
    			<p>Está procurando alguma aplicação que possa te ajudar a organizar suas contas, quanto você recebe e gasta? O Controlle é a opção certa! Oferecemos um sistema totalmente isento de qualquer taxa!</p>
    		</div>
    		<div class="grid-box">
    			<h3>Titulo primeiro box</h3>
    			<p>Está procurando alguma aplicação que possa te ajudar a organizar suas contas, quanto você recebe e gasta? O Controlle é a opção certa! Oferecemos um sistema totalmente isento de qualquer taxa!</p>
    		</div>
    	</div>
    </div>

  </body>
</html>
