{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/dashboard.css' %}">
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>

    <div  class="header">

      <div class="dropdown">

          <span>Henrique</span>

        <div id="ch">
          <i data-feather="chevron-down" ></i>
        </div>

      </div>

      <div class="dropdown_content">
        <ul>
          Configurações
        </ul>
        <ul><a href="{% url 'Core:logout' %}">Sair</a></ul>
      </div>

    </div><!--header-->

    <div class="sidemenu">

      <ul>
        <li><a href="#"><i data-feather="home"></i></a></li>
        <li><a href="#"><i data-feather="plus-circle"></i></a></li>
        <li><a href="#"><i data-feather="list"></i></a></li>
      </ul>

    </div><!--sidemenu-->

    <div class="content">
      <h1>Dashboard</h1>
      <div class="classification">
        <span>Classificar por:</span>
        <select class="class" name="">
          <option value="ganhos">Ganhos</option>
          <option value="gastos">Gastos</option>
        </select>
      </div>

      <div id="list_cf">

        <div id="block">

          <div id="column">R$200,00</div>
          <div id="column">ALMOÇO</div>
          <div id="column">DEBITO</div>

          <div class="po">
            <i data-feather="more-vertical"></i>
          </div>

        </div>

        <div id="block">

          <div id="column">R$200,00</div>
          <div id="column">ALMOÇO</div>
          <div id="column">DEBITO</div>

          <div class="po">
            <i data-feather="more-vertical"></i>
          </div>

        </div>

        <div id="block">

          <div id="column">R$200,00</div>
          <div id="column">ALMOÇO</div>
          <div id="column">DEBITO</div>

          <div class="po">
            <i data-feather="more-vertical"></i>
          </div>

        </div>

        <div id="block">

          <div id="column">R$200,00</div>
          <div id="column">ALMOÇO</div>
          <div id="column">DEBITO</div>

          <div class="po">
            <i data-feather="more-vertical"></i>
          </div>

        </div>

      </div>

    </div><!--content-->

    <script>
      feather.replace()
    </script>

  </body>
</html>
