{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Controlle - Login</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
  </head>
  <body>
    <div class="form-login">
      <form class="" action="" method="post">
        {% csrf_token %}

        <div>{{form.username}}</div>
        <div>{{form.password}}</div>
        <div><button type="submit" name="button">Entrar</button></div>
        {% for message in messages %}
          {{message}}
        {% endfor %}

        
      </form>
    </div>
  </body>
</html>
