html, body {
    margin: 0 0;
    padding: 0;
    background-color: #F1FAEE;
	font: normal 12px Arial;
	color: #3a4a51;
}


.entradas {
	
	margin:20px;
}

.entradas ul {
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
	padding: 20px 25px;
	width:350px;
}
