html, body {
    margin: 0 0;
    padding: 0;
    background-color: #F1FAEE;
	font: normal 12px Arial;
	color: #3a4a51;
}


.entradas {
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
	padding: 10px 10px;
	width:300px;
	margin:20px;
}