html, body {
    margin: 0 0;
    padding: 0;
    background-color: #F1FAEE;
}

.form-login {
    width:210px;
    padding: 25px 30px;
    margin: 0 auto;
    margin-top: 20%;
    border: 1px solid #f1f1f1;
    border-radius:5px;
}

.form-login div {
    margin: 10px;
}

.form-login input {
    background-color: #F1FAEE;
    padding: 8px 8px;
    border: none;
    border-bottom:1px solid #c3c3c3;
}

.form-login button {
    background: #457B9D;
    padding: 8px 8px;
    color: #FFFFFF;
    font-family: Arial;
    border: 1px solid #60665F;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
}

#msg {
    background-color:#f56d6d;
    padding:7px 7px;
    border-radius:5px;
    border:1px solid #d86868;
    color:#ffffff;
    text-align:center;
    font:normal 13px Arial;
    font-weight:bold;

}
