html, body {
    background:#f5f5f5;
    margin:0 0;
    padding:0;
    font-family: Arial sans-serif;
}

div.box {
    background:#ffffff;
    padding:5px 0px;
    margin:0 auto;
    width:320px;
    margin-top:14%;
    border:1px solid #ececec;
}

div.form-login {
    background:#ffffff;
    padding:15px 15px;
    margin:0 auto;
}

div.form-login div {
    padding:5px;
}
div.form-login input {
    padding:10px 10px;
    width:92%;
}

div.form-login button {
    background-color:#1a6abd;
    padding:7px;
    width:100px;
    border:1px solid #165da7;
    color:#fff;
    cursor:pointer;
}

div.box div.sp{
    border-bottom:1px solid #f5f5f5;
    width:100%;
    font-family:Arial;
    padding:10px 15px;
    color:#5d5d5d;
}

div.box div.sp a{
    float:right;
    margin-right:10%;
    border:1px solid #f1f1f1;
    padding:6px 10px;
    margin-top:-3%;
    color:#5d5d5d;
    text-decoration:none;

}

div.form-login a#forget_pass {
  color:#504f4f;
  text-decoration:none;
  margin-left:15%;
}

div#msg {
    background-color:#de8282;
    padding:15px 15px;
    width:300px;
    color:#fff;
    font-family:Arial;
    margin:0 37.4%;
    text-align:center;
    font-weight:bold;
    border:1px solid #da7c7c;
    border-radius:2px;

    animation-name:box;
    animation-duration: 4s;
    animation-iteration-count: 1;

    margin-top:-7%;
    position:absolute;
}

@keyframes box {
  0% {left:0px; top:0px;}
  25% {left:0px; top:187px;}
  50% {left:0px; top:187px;}
}
